@import "../../../util/color.scss";

.Main-Radio-Box {
  top: 3rem;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background: white;
  width: 12rem;
  height: auto;
  position: absolute;
  border: 0.0625rem $v-light-gray solid;
  border-radius: 0.2rem;
  padding: 0.2rem 0;
}
