/* your css code */
.background {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #0000003b;
  left: 0;
  top: 0;
  z-index: 1;
}
