/* your css code */
@import "../../../util/lib.scss";
@import "../../../util/color.scss";

.Dev-Find-Item {
  display: flex;
  width: 38.5rem;
  border-radius: 0.4rem;
  padding: 0.6rem 1.6rem 0.6rem 0.6rem;
  border: 0.12rem $v-light-gray solid;
  background-color: $white;
  //   box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.15);
  margin: 1rem;
  cursor: pointer;
  transition: all ease 0.2s;

  &:hover {
    border: 0.12rem $light-gray solid;
    transform: translateY(-0.5rem);
  }

  &-Profile {
    position: relative;
    padding: 35% 0 0 35%;
    margin-right: 1rem;

    &-Image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.6rem;
      margin-bottom: 0.4rem;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $v-light-gray;
    }
  }

  &-Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.4rem 0;

    &-Content {
      display: flex;
      flex-direction: column;

      &-Name {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 0.4rem;
        color: $dark-gray;
        @include ellipsis(1);
      }

      &-Produce {
        color: $gray;
        font-size: 0.9rem;
        font-weight: 500;
        margin-bottom: 0.8rem;
        @include ellipsis(2);
      }

      &-Tech {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        &-Tag {
          background-color: $vv-light-gray;
          padding: 0.2rem 0.7rem;
          border-radius: 0.2rem;
          font-size: 0.8rem;
          color: $dark-gray;
          margin: 0 0.4rem 0.4rem 0;
        }
      }
    }

    &-Bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.2rem 0;

      &-Rating {
        color: $gray;
        font-size: 0.9rem;

        & > span {
          color: $dark-gray;
          font-weight: 600;
          font-size: 0.9rem;
        }
      }

      &-Belong {
        color: $light-gray;
        font-size: 0.9rem;
        font-weight: 500;
      }
    }
  }
}
