@import "../../../../util/color.scss";

.Main-Radio-Box-Item {
  display: flex;
  align-items: center;
  color: $gray;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;

  &:hover {
    color: $dark-gray;
    & > label {
      border: 0.125rem solid $dark-gray;
      background-color: $dark-gray;
    }
  }

  &-Label {
    cursor: pointer;
    position: relative;
    border: 0.125rem solid $light-gray;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    min-width: 1.2rem;
    max-width: 1.2rem;
    background-color: transparent;
    margin-right: 0.4rem;

    &::before {
      content: "";
    }
  }

  &-Radio {
    display: none !important;
    position: relative;
    width: 0.9rem;
    height: 0.9rem;
  }

  &-Radio:checked ~ &-Name {
    color: $dark-gray;
  }

  &-Radio:checked ~ &-Label {
    background-color: $white;
    border: 0.4rem solid $dark-gray;

    &::before {
      content: "";
      width: 0.1rem;
      height: 0.1rem;
      border-radius: 50%;
    }
  }
}
